.page{
  transition: 600ms;
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 50px;
}

#calculadora{
  left: 0px;
}
#historial{
  left: 2000px;
}
#resultado{
  left: -2000px;
}

#titulo{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
}
#linkedin{
  color: white;
  cursor: pointer;
}

.btn-iigg{
  background-color: rgba(3, 68, 65, 0.603);
  color: white;
  border: solid 1px white;
}

.btn-iigg:hover{
  background-color: white;
  color: rgba(3, 68, 65, 0.603);
  border: solid 1px rgba(3, 68, 65, 0.603);
}
.text-responsive-1 { 
    font-size: calc(0.5em + 0.5vw) 
}

.text-responsive-2 { 
    font-size: calc(0.9em + 0.9vw);
    word-wrap: normal; 
}


#svgFecha{
  display: none;
}





body{
    height: 100vh;
}
.output{
    position: fixed;
    top: -20px;
    left: 0px;
    height: 102vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 3;
    display: none;
}
#cuadro{
  max-width: 60%; 
  border: solid rgba(255, 255, 255, 0.726) 1px; 
  border-radius: 20px;
}

footer{
    background-color: antiquewhite;
    color: black;
    width: 100%;
    height: 25px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.cartel{
    margin-top: 100px;
    color: white;
    font-size: xx-large;
    font-weight:  bolder;
    background-color: rgb(14, 14, 14);
    width: 300px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


.modulo{
  display: none;
  fill: rgba(5, 94, 89, 0.603);

}
.letra{
  display: none;
  fill: white;
  pointer-events: none;
}

.modulo:hover{
  fill: rgba(3, 68, 65, 0.603);
  cursor: pointer;
}
.letra:hover{
  fill: rgba(3, 68, 65, 0.603);
  cursor: pointer;
}

.circle:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.circle{
  background-color: rgba(3, 68, 65, 0.603);
  display: none;
}

#cobro{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    color: white; 
    position: absolute; 
    background-color: rgb(39, 39, 39) ;
    border: solid 1.5px currentColor;
    z-index: 5;
}
#cobro:hover{
    color: black; 
    background-color: white ;
    border: solid 1.5px currentColor;
}

.medioCirculo{
  height: 55px;
  width: 110px;
  margin-top: -55px;
  border-top-left-radius: 4000px;
  border-top-right-radius: 4000px;
  border: 1.5px solid white;
  font-size: (1em + 1vw); 
  font-weight: bolder;
  z-index: 1;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-bottom: rgb(39, 39, 39) solid 1px;
}
.medioCirculo2{
  height: 55px;
  width: 110px;
  margin-top: 55px;
  border-bottom-right-radius: 4000px;
  border-bottom-left-radius: 4000px;
  z-index: 1;
  border: 1.5px solid white;
  font-size: (1em + 1vw);
  font-weight: bolder;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-top: rgb(39, 39, 39) solid 1px;
}

svg{
  z-index: 0;
}

.btnFecha{
  background-color: grey;
  border: transparent;
  color: white; 
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  width: 100%;
  pointer-events: none;
}
.btnFecha2{
  background-color: rgba(128, 128, 128, 0.39);
  border: transparent;
  color: white; 
  width: 100%;
  }

.btnRelation{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: transparent;
}

.coupleOff{
  background-image: linear-gradient(to right,black,rgb(39, 39, 39));
  color: rgb(7, 80, 76);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 1px black;
}

.coupleOn{
  background-image: linear-gradient(to left,white,rgb(39, 39, 39));
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid 1px black;
}

.singleOff{
  background-image: linear-gradient(to left,rgb(39, 39, 39),rgb(39, 39, 39),black);
  color: rgb(7, 80, 76);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: solid 1px black;
}

.singleOn{
  background-image: linear-gradient(to right,white,rgb(39, 39, 39));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: solid 1px black;

}

.btnRelation:hover{
    color: rgba(8, 124, 118, 0.849);
}
.btnRelation-active:hover{
    color: black;
}

.logo{
  position: fixed; 
  left: 10px;
  bottom: 50px;
  z-index: 110000;
}

@media only screen and (max-width: 1200px) {

    #cuadro{
        max-width: 80%; 
        border: solid rgba(255, 255, 255, 0.726) 1px; 
        border-radius: 20px;
      }




  }

  @media only screen and (max-width: 770px) {

    #cuadro{
        max-width: 95%; 
        border: solid rgba(255, 255, 255, 0.726) 1px; 
        border-radius: 20px;
      }



  }

@media only screen and (max-width: 400px) {
    .text-responsive-2 { 
        font-size: calc(0.8em + 0.8vw);
    }
    #cuadro{
        max-width: 100%; 
        border: solid rgba(255, 255, 255, 0.726) 1px; 
        border-radius: 20px;
      }

  }
  